<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Speciality Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Speciality Management System</h1>
    <hr>
    <h2>Update Speciality</h2>

    <form action="#" th:action="@{/save-speciality}" th:object="${speciality}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{monthsOfStudying}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{numberOfStudyingPerYear}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{dormitory}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Speciality</button>
    </form>

    <hr>

    <a th:href="@{/}" class="btn btn-primary">Back to the Speciality List</a>
</div>
</body>
</html>