<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Subject Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h1>Subject List</h1>

    <a th:href ="@{/create-subject}" class="btn btn-primary btn-sm mb-3"> Add Subject </a>

    <form th:action="@{/subjects}" method="get" class = "table table-striped table-responsive-md">
        <input id = "txtSearch" type = "text" name="keyword">
        <button type="submit" class="btn btn-primary">Go</button>
    </form>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}">
            <td th:text="${subject.title}"></td>
            <td> <a th:href="@{/update-subject/__${subject.id}__}" class="btn btn-primary">Update</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/}" class="btn btn-primary">Back to the Speciality List</a>
</div>
</body>
</html>