<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Timetable Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h1>Timetable</h1>
    <a th:href ="@{/{id}/create-lesson/(id=${group.id})}" class="btn btn-primary btn-sm mb-3"> Add Lesson </a>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Time</th>
            <th>Day</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lesson : ${lessons}">
            <td th:text="${lesson.subject.title}"></td>
            <td th:text="${lesson.teacher.surname}"></td>
            <td th:text="${lesson.time}"></td>
            <td>
                <table>
                    <tr>
                    </tr>
                    <tr th:each="day: ${lesson.days}">
                        <td th:text="${day.dayOfWeek}">description</td>
                    </tr>
                </table>
            </td>
            <td><a th:href="@{/{id}/update-lesson/__${lesson.id}__(id=${group.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/{id}/delete-lesson/__${lesson.id}__(id=${group.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>

        </tbody>
    </table>
    <a th:href="@{/}" class="btn btn-primary">Back to the Speciality List</a>

<!--    <table border="1" class = "table table-striped table-responsive-md">-->
<!--    <tr border="1" class = "table table-striped table-responsive-md">-->
<!--        <th>Id</th>-->
<!--        <th>Day</th>-->
<!--        <th>Lesson</th>-->
<!--    </tr>-->
<!--        <tr th:each="day : ${days}" th:id="'order' + ${day.id}">-->
<!--            <td th:text="${day.id}">id</td>-->
<!--            <td th:text="${day.dayOfWeek}">Day</td>-->
<!--        <td>-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>Teacher</th>-->
<!--                    <th>Subject</th>-->
<!--                    <th>Time</th>-->
<!--                    <th>Actions</th>-->
<!--                </tr>-->
<!--                <tr th:each="lesson: ${lessonsOfGroup}">-->
<!--                    <td th:text="${lesson.teacher.surname}"></td>-->
<!--                    <td th:text="${lesson.subject.title}"></td>-->
<!--                    <td th:text="${lesson.time}"></td>-->
<!--                    <td><a th:href="@{/{id}/delete-lesson/__${lesson.id}__(id=${group.id})}" class="btn btn-danger">Delete</a>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </table>-->
<!--    <a th:href="@{/}" class="btn btn-primary">Back to the Speciality List</a>-->
</div>
</body>
</html>