<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Listener Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Listener Management System</h1>
    <hr>
    <h2>Save Listener</h2>

    <form action="#" th:action="@{/{id}/save-listener(id=${group.id})}" th:object="${listener}"
          method="POST">
        <input type="text" th:field="*{name}"
               placeholder="Listener First Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{surname}"
               placeholder="Listener Last Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{email}"
               placeholder="Listener Email" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save Listener</button>
    </form>

    <hr>

    <a th:href="@{/}" class="btn btn-primary">Back to the Speciality List</a>
</div>
</body>
</html>